---
layout: docs
title: Documentation
description: Read the Bourbon documentation for mixins, functions and add-ons
permalink: /docs/
---

{% include navigation.html %}

<div class="main-content">
  <div class="main-inner">
    <h1 id="mixins" class="">ミックスイン</h1>
    {% include mixins.html %}

    <h1 id="functions">関数</h1>
    {% include functions.html %}

    <h1 id="add-ons">アドオン</h1>
    {% include addons.html %}

    <h1 id="settings">設定</h1>
    {% include settings.html %}

    <h1 id="complete-list">全リスト</h1>
    <section class="complete-list">
      {% include complete-list.html %}
    </section>

    <h1 id="footer"></h1>
    <section class="footer">
      {% include footer.html %}
    </section>
  </div>
</div>
