<article id="border-style" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Border Style</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_directional-values.scss">ソースを見る</a>
  </header>
  <p><code>border-style</code> ミックスインは、<code>null</code> を含む最大4つの値を受け取り、<a href="#directional-property">directional-property</a> ミックスインを使って、それぞれの方角にマッピングします。</p>

{% highlight scss %}
@include border-style(dashed null solid);
{% endhighlight %}

<h3>CSS出力</h3>
{% highlight scss %}
border-top-style: dashed;
border-bottom-style: solid;
{% endhighlight %}
</article>
