<article id="border-color" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Border-color</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_directional-values.scss">ソースを見る</a>
  </header>
  <p><code>border-color</code> ミックスインは、<code>null</code> を含む最大4つの値を受け取り、<a href="#directional-property">directional-property</a> ミックスインを使って、それぞれの方角にマッピングします。</p>

{% highlight scss %}
@include border-color(red green null blue);
{% endhighlight %}

<h3>CSS出力</h3>
{% highlight scss %}
border-top-color: red;
border-right-color: green;
border-left-color: blue;
{% endhighlight %}
</article>
