<article id="buttons-variable" data-type="variable">
  <header class="title-bar">
    <h2 class="title">Buttons (Variable)</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_buttons.scss">ソースを見る</a>
  </header>
  <p>HTMLの全てのボタン要素のための変数を生成します。変数には <code>#{$all-buttons}</code> のような補完コードを使用しなければならないことに注意してください。</p>

{% highlight scss %}
#{$all-buttons} {
  background-color: #f00;
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
  background-color: #0f0;
}

#{$all-buttons-active} {
  background-color: #00f;
}
{% endhighlight %}

<h3>CSS出力</h3>

{% highlight css %}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #f00;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #0f0;
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: #00f;
}
{% endhighlight %}

</article>
