<article id="clearfix" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Clearfix</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_clearfix.scss">ソースを見る</a>
  </header>
  <p>内包するフロートに対して clearfix を適用する簡単な方法を提供します。私たちは cssmojo から引用した <a href="http://cssmojo.com/latest_new_clearfix_so_far">モダンな clearfix</a> 使用します。</p>

{% highlight scss %}
.wrapper {
  @include clearfix;
}
{% endhighlight %}

<h3>CSS出力</h3>

{% highlight css %}
.wrapper::after {
  clear: both;
  content: "";
  display: table;
}
{% endhighlight %}

</article>
