<article id="font-family" data-type="variable">
  <header class="title-bar">
    <h2 class="title">Font Family</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_font-family.scss">ソースを見る</a>
  </header>
  <p>Bourbon は利便性のために、デフォルトのフォントファミリーを変数として定義しています。</p>

{% highlight scss %}
font-family: $helvetica;
font-family: $georgia;
font-family: $lucida-grande;
font-family: $monospace;
font-family: $verdana;
{% endhighlight %}

  <h3>CSS出力</h3>
{% highlight scss %}
font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
font-family: Georgia, Cambria, "Times New Roman", Times, serif;
font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
font-family: Verdana, Geneva, sans-serif;
{% endhighlight %}
</article>
