<article id="hide-text" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Hide-text</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_hide-text.scss">ソースを見る</a>
  </header>
  <p><code>hide-text</code> は、画像の置き換えのミックスインです。これは <a href="https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757c9e03dda4e463fb0d4db5a5f82d7">HTML5-Boilerplate image-replacement</a> をベースとしています。</p>
  <p>この画像置き換えの手法は、 text-indent の手法の代替です。これには <a href="http://nicolasgallagher.com/another-css-image-replacement-technique/">パフォーマンとその他の利点</a> があります。</p>
  <p>この動作のためには、height 宣言が必須です。(REQUIRED)</p>

{% highlight scss %}
div {
  @include hide-text;
  background-image: url(logo.png);
  height: 40px;
}
{% endhighlight %}
</article>
