<article id="hide-text" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Hide Text</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_hide-text.scss">ソースを見る</a>
  </header>
  <p><code>hide-text</code> は、画像の置き換えのミックスインです。これは <a href="//github.com/h5bp/html5-boilerplate/commit/aa0396eae757c9e03dda4e463fb0d4db5a5f82d7">HTML5 Boilerplate image replacement</a> をベースとしています。</p>
  <p>この画像置き換えの手法は、 text-indent の手法の代替で、これには <a href="//nicolasgallagher.com/another-css-image-replacement-technique/">パフォーマンとその他の利点</a> があります。</p>
  <p>この動作のためには、height 宣言が必須で(REQUIRED)、引数として指定可能です(CAN)(デフォルトは <code>1em</code> です)。</p>

{% highlight scss %}
.element {
  @include hide-text;
  background-image: url(logo.png);
}

.element {
  @include hide-text(2em); // passing an optional height argument
}
{% endhighlight %}

  <h3>CSS Output</h3>
{% highlight css %}
.element {
  height: 1em;
  line-height: 1.5;
  overflow: hidden;
  background-image: url(logo.png);
}

.element::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
{% endhighlight %}
</article>
