<article id="position" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Position</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_position.scss">ソースを見る</a>
  </header>
  <p>要素の位置を設定する省略記法です。</p>
  <p>第1引数は省略可能で、デフォルトは <code>relative</code> です。第2引数は、スペース区切りのリストで<code>top</code> 、 <code>right</code> 、 <code>bottom</code> 、 <code>left</code> の値を指定します。これは、スタンダードなCSSの省略記法に準拠します。</p>
  <p><strong>注) </strong> <code>null</code> 値は無視されます。つまり、次の例では、<code>right</code> と <code>bottom</code> プロパティの宣言は生成されないということです。</p>

{% highlight scss %}
.element {
  @include position(relative, 0 null null 10em);
}
{% endhighlight %}

<h3>CSS Output</h3>

{% highlight css %}
.element {
  position: relative;
  top: 0;
  left: 10em;
}
{% endhighlight %}
</article>
