<article id="position" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Position</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_position.scss">ソースを見る</a>
  </header>
  <p>ページ内の要素の位置を設定する省略記法です。</p>
  <p>第1引数は省略可能で、 <code>relative</code> がデフォルト値です。第2引数はCSSの標準的な省略記法を踏襲したスペース区切りの値リストです。</p>
  <p>注: null 値は無視されます。次の例では、right と bottom の位置のためのセレクタは生成されないことを意味します。一方で、topの位置は 0px になります。</p>

  <p>こう書く代わりに</p>
{% highlight scss %}
position: relative;
top: 0px;
left: 100px;
{% endhighlight %}

  <p>こう書けます</p>
{% highlight scss %}
@include position(relative, 0px null null 100px);
{% endhighlight %}
</article>
