<article id="size" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Size</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_size.scss">ソースを見る</a>
  </header>
  <p><code>width</code> と <code>height</code> を単一のステートメントで設定します。<code>auto</code> や <code>inherit</code>、単位なしの数値、 <code>fill</code> や <code>max-content</code> 、 <code>min-content</code> 、 <code>fit-content</code> などの内在的（ intrinsic ）キーワードを含む全ての単位を受け付けます。このミックスインは、 <code>calc()</code> CSS 関数との併用も可能です。</p>

{% highlight scss %}
@include size(2em); // width: 2em; height: 2em;
@include size(10em auto); // width: 10em; height: auto;
@include size(min-content 9rem); // width: min-content; height: 9rem;
@include size(20px calc(100% - 80px)); // width: 20px; height: calc(100% - 80px);
{% endhighlight %}
</article>
