<article id="timing-functions" data-type="parameter">
  <header class="title-bar">
    <h2 class="title">Timing Functions</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_timing-functions.scss">ソースを見る</a>
  </header>
  <p>これらの CSS 3次ベジェ曲線のタイミング関数は、 CSS3 アニメーションやトランジションで利用される変数です。与えられたタイミング関数はjQuery UIのデモの <a href="//jqueryui.com/resources/demos/effect/easing.html">easing 関数</a>と同様です。</p>

{% highlight scss %}
@include transition(all 5s $ease-in-circ);
{% endhighlight %}

  <h3>デモ</h3>
  <section class="demo">
    <ul>
      <li><code>$ease-in-quad</code><div class="box ease-in-quad"></div></li>
      <li><code>$ease-out-quad</code><div class="box ease-out-quad"></div></li>
      <li><code>$ease-in-out-quad</code><div class="box ease-in-out-quad"></div></li>

      <li><code>$ease-in-cubic</code><div class="box ease-in-cubic"></div></li>
      <li><code>$ease-out-cubic</code><div class="box ease-out-cubic"></div></li>
      <li><code>$ease-in-out-cubic</code><div class="box ease-in-out-cubic"></div></li>

      <li><code>$ease-in-quart</code><div class="box ease-in-quart"></div></li>
      <li><code>$ease-out-quart</code><div class="box ease-out-quart"></div></li>
      <li><code>$ease-in-out-quart</code><div class="box ease-in-out-quart"></div></li>

      <li><code>$ease-in-quint</code><div class="box ease-in-quint"></div></li>
      <li><code>$ease-out-quint</code><div class="box ease-out-quint"></div></li>
      <li><code>$ease-in-out-quint</code><div class="box ease-in-out-quint"></div></li>

      <li><code>$ease-in-sine</code><div class="box ease-in-sine"></div></li>
      <li><code>$ease-out-sine</code><div class="box ease-out-sine"></div></li>
      <li><code>$ease-in-out-sine</code><div class="box ease-in-out-sine"></div></li>

      <li><code>$ease-in-expo</code><div class="box ease-in-expo"></div></li>
      <li><code>$ease-out-expo</code><div class="box ease-out-expo"></div></li>
      <li><code>$ease-in-out-expo</code><div class="box ease-in-out-expo"></div></li>

      <li><code>$ease-in-circ</code><div class="box ease-in-circ"></div></li>
      <li><code>$ease-out-circ</code><div class="box ease-out-circ"></div></li>
      <li><code>$ease-in-out-circ</code><div class="box ease-in-out-circ"></div></li>

      <li><code>$ease-in-back</code><div class="box ease-in-back"></div></li>
      <li><code>$ease-out-back</code><div class="box ease-out-back"></div></li>
      <li><code>$ease-in-out-back</code><div class="box ease-in-out-back"></div></li>
    <ul>
  </section>
</article>
