<article id="word-wrap" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Word-wrap</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_word-wrap.scss">ソースを見る</a>
  </header>
  <p><code>word-wrap</code> ミックスインは、(URLのような)長いテキストがレイアウトを崩さないよう、強制的に折り返すことを簡単にします。</p>
  <p>引数として <code>($word-wrap)</code> をとります。デフォルト値は <code>break-word</code> です。</p>

{% highlight scss %}
@include word-wrap;
@include word-wrap(normal);
{% endhighlight %}
</article>
