<article id="animation-duration" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation Duration</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/animation-duration">スペックを見る</a>
  </header>
  <p><code>animation-duration</code> プロパティは、1 回のアニメーション周期が完了するまでの所要時間を指定します。</p>

{% highlight scss %}
@include animation-duration(2s);
{% endhighlight %}
</article>
