<article id="animation-play-state" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation-play-state</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-play-state">スペックを見る</a>
  </header>
  <p><code>animation-play-state</code> プロパティは、アニメーションが実行中か、一時停止されているかを判定します。</p>

{% highlight scss %}
  @include animation-play-state(paused);
{% endhighlight %}
</article>
