<article id="animation-direction" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation-direction</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-direction">スペックを見る</a>
  </header>
  <p><code>animation-direction</code> プロパティは、アニメーションのサイクルごとに逆方向のアニメーションを実行するかを指定します。</p>

{% highlight scss %}
  @include animation-direction(alternate-reverse);
{% endhighlight %}
</article>
