<article id="animation-timing-function" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation-timing-function</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function">スペックを見る</a>
  </header>
  <p><code>animation-timing-function</code> CSS プロパティは、それぞれのアニメーション周期でどのような CSS アニメーションを実行するかを指定します。</p>

{% highlight scss %}
  @include animation-timing-function(ease);
{% endhighlight %}
</article>
