<article id="animation-name" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation-name</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-name">スペックを見る</a>
  </header>
  <p><code>animation-name</code> プロパティは、選択された要素に適用するアニメーションのリストを設定します。</p>

{% highlight scss %}
  @include animation-name(scale, slide);
{% endhighlight %}
</article>
