<article id="animation-delay" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation Delay</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/animation-delay">スペックを見る</a>
  </header>
  <p><code>animation-delay</code> プロパティは、アニメーションをいつ開始するかを指定します。</p>

{% highlight scss %}
@include animation-delay(2s);
{% endhighlight %}
</article>
