<article id="animation-iteration-count" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation-iteration-count</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-iteration-count">スペックを見る</a>
  </header>
  <p><code>animation-iteration-count</code> プロパティは、アニメーションを停止するまでに、アニメーションの周期を何回実行するかを定義します。</p>

{% highlight scss %}
  @include animation-iteration-count(infinite);
{% endhighlight %}
</article>
