<article id="animation-fill-mode" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation Fill Mode</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode">スペックを見る</a>
  </header>
  <p><code>animation-fill-mode</code> プロパティは、CSS アニメーションの適用先に対して、アニメーションの実行前や実行後にどのようなスタイルを適用するかを設定します。</p>

{% highlight scss %}
@include animation-fill-mode(backwards);
{% endhighlight %}
</article>
