<article id="appearance" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Appearance</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_appearance.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance">スペックを見る</a>
  </header>
  <p>CSS の <code>appearance</code> プロパティは、オペレーティングシステムのテーマをベースとしたプラットフォームネイティブなスタイルを用いて要素を表示するのに使用します。</p>

{% highlight scss %}
@include appearance(none);
{% endhighlight %}
</article>
