<article id="background" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Background</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_background.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/background">スペックを見る</a>
  </header>
  <p><code>background</code> ミックスインは、短縮記法を用いて複数の背景を追加するのに使用します。</p>

{% highlight scss %}
@include background(linear-gradient(red, green) left repeat);
@include background(linear-gradient(red, green) left repeat, radial-gradient(red, orange) left repeat);
@include background(url("/images/a.png"), linear-gradient(red, green), center no-repeat orange scroll);
{% endhighlight %}
</article>
