<article id="backface-visibility" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Backface Visibility</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_backface-visibility.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/backface-visibility">スペックを見る</a>
  </header>
  <p>CSS の <code>backface-visibility</code> プロパティは、要素の裏面がユーザに面したときに、裏面を可視にするかどうかを決めます。要素の裏面は常に透明な背景を持ち、可視ならば表面の鏡像を表示します。</p>

{% highlight scss %}
@include backface-visibility(visible);
{% endhighlight %}
</article>
