<article id="background-image" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Background Image</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_background-image.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/background-image">スペックを見る</a>
  </header>
  <p><code>background-image</code> ミックスインは、背景画像や linear/radial-gradients を一つのbackground-image プロパティにカンマ区切りで列記するのに便利です。 <code>background-image</code> ミックスインは最大で10の 背景画像 をサポートします。</p>
  <p><a href="#linear-gradient-function">linear-gradient 関数</a> と <a href="#radial-gradient-function">radial-gradient 関数</a> とを組み合わせて使用してください。</p>

{% highlight scss %}
// 画像資源と一つの linear-gradient
@include background-image(url("/images/a.png"), linear-gradient(white 0, yellow 50%, transparent 50%));

// 複数の linear-gradients の例
@include background-image(linear-gradient(hsla(0, 100%, 100%, 0.25) 0%, hsla(0, 100%, 100%, 0.08) 50%, transparent 50%),
                           linear-gradient(#4e7ba3, darken(#4e7ba4, 10%)));

// サポートしていない
@include background-image(url("/images/a.png") center no-repeat, url("images/b.png") left repeat);

// Background-image は短縮プロパティではないため、 これは意味をなさない。
{% endhighlight %}

  <h3>デモ</h3>
  <section class="demo">
  </section>

<h3>短縮記法について</h3>

<p>すべての CSS の background プロパティはカンマ区切りの値をサポートします。複数の背景画像のために、各画像に position、 repeat などの background プロパティを指定できます。例えば、</p>

{% highlight scss %}
@include background-image(url("/images/a.png"), url("images/b.png"));
background-position: center top, center;
background-repeat: no-repeat, repeat-x;
{% endhighlight %}

</article>
