<article id="border-image" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Border-image</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_border-image.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/border-image">スペックを見る</a>
  </header>
  <p>Border-image は短縮形の記法をサポートします。</p>

{% highlight scss %}
@include border-image(url(/images/border.png) 27 repeat);
{% endhighlight %}
  <h3>デモ</h3>
  <section class="demo">
  </section>
</article>
