<article id="columns" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Columns</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_columns.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/columns">スペックを見る</a>
  </header>
  <p>現在の全ての CSS3 カラムプロパティがサポートされています。詳しい情報については <a href="#complete-list-mixins">ミックスインの全リスト</a> を参照してください。</p>

{% highlight scss %}
@include columns(12 8em);
@include column-rule(1px solid green);
{% endhighlight %}
</article>
