<article id="flexbox" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Flexbox</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_flex-box.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes">スペックを見る</a> 
  </header>
  <p>flexbox ミックスイン群は <a href="http://www.w3.org/TR/2014/WD-css-flexbox-1-20140325/">2014 W3C spec</a> の最新です。これらのミックスインは、 <a href="http://www.w3.org/TR/2009/WD-css3-flexbox-20090723/">2009 spec</a> へのフォールバックも含んでいます。</p>
  <p><a href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_flex-box.scss">全ての flexox ミックスインを見る</a></p>
{% highlight scss %}
div.parent {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);
}

div.parent > div.child {
  @include flex(1);
}
{% endhighlight %}
</article>
