<article id="font-face" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Font Face</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_font-face.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/@font-face">スペックを見る</a>
  </header>
  <p>シンプルな <code>@font-face</code> ミックスインは、カスタムフォントの拡張を簡単にします。使用例のとおり。</p>
  <p>このミックスインは Rails アセットパイプラインと合わせた用途のために、オプショナルな引数 <code>$asset-pipeline: true</code> をとります。</p>

{% highlight scss %}
@include font-face(SourceSansPro, "/fonts/Source_Sans_Pro/SourceSansPro-Regular");
@include font-face(SourceSansPro, "/fonts/Source_Sans_Pro/SourceSansPro-Bold", bold);
@include font-face(SourceSansPro, "/fonts/Source_Sans_Pro/SourceSansPro-Italic", normal, italic);

// Rails asset-pipeline - フォントは app/assets/fonts/ に格納する
@include font-face(SourceSansPro, "Source_Sans_Pro/SourceSansPro-Regular", normal, $asset-pipeline: true);
{% endhighlight %}
</article>
