<article id="font-face" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Font Face</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_font-face.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/@font-face">スペックを見る</a>
  </header>
  <p><code>@font-face</code> 宣言を生成します。引数として、太さ、スタイル、Rails アセットパイプラインを使用するかどうか、それからファイルフォーマットを受け付けます。</p>

{% highlight scss %}
@include font-face("Source Sans Pro", "/fonts/source-sans-pro/source-sans-pro-regular");
@include font-face("Source Sans Pro", "/fonts/source-sans-pro/source-sans-pro-bold", bold);
@include font-face("Source Sans Pro", "/fonts/source-sans-pro/source-sans-pro-italic", normal, italic);
{% endhighlight %}

<p><code>$file-formats</code> 引数でフォントのファイルフォーマットを明示できます。デフォルトは <code>eot woff2 woff ttf svg</code> です。</p>

{% highlight scss %}
@include font-face("Source Sans Pro", "/fonts/source-sans-pro/source-sans-pro-regular", $file-formats: eot woff2 woff);
{% endhighlight %}

<p>Rails アセットパイプラインも使用できます。<code>app/assets/fonts/</code> にフォントを格納してください。</p>

{% highlight scss %}
@include font-face("Source Sans Pro", "source-sans-pro/source-sans-pro-regular", normal, $asset-pipeline: true, $file-formats: eot woff ttf));
{% endhighlight %}
</article>
