<article id="hidpi-media-query" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">HiDPI Media Query</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_hidpi-media-query.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/Guide/CSS/Media_queries#resolution">スペックを見る</a>
  </header>
  <p><code>hidpi</code> ミックスインは、HiDPI デバイスをターゲットとしたメディアクエリーを生成を生成します。オプションの ratio 引数をとり、デフォルトは <code>1.3</code> です。 <a href="http://bjango.com/articles/min-device-pixel-ratio/">自分のデバイスのピクセルレシオを確かめる</a></p>

{% highlight scss %}
@include hidpi(1.5) {
  width: 20em;
}
{% endhighlight %}

<h3>CSS出力</h3>
{% highlight scss %}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 1.5/1),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {
  width: 20em;
}
{% endhighlight %}

</article>
