<article id="hyphens" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Hyphens</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_hyphens.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens">スペックを見る</a>
  </header>
  <p><code>hyphens</code> プロパティは、行が折り返される際に、ブラウザが単語をどのように分割するかを設定します。このミックスインは、<code>none</code> 、 <code>manual</code> 、 <code>auto</code> のいずれかを受け付け、指定がなければ <code>none</code> となります。</p>

{% highlight scss %}
@include hyphens(manual);
{% endhighlight %}
</article>

