<article id="image-rendering" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Image Rendering</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_image-rendering.scss">ソースを見る</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/image-rendering">スペックを見る</a>
  </header>
  <p><code>image-rendering</code> ミックスインは、ユーザエージェントの画像描画方法についてのヒントを与えます。</p>

{% highlight scss %}
@include image-rendering(optimizeSpeed);
{% endhighlight %}
</article>
