<article id="image-rendering" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Image-rendering</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_image-rendering.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering">スペックを見る</a>
  </header>
  <p><code>image-rendering</code> プロパティは、ユーザエージェントの画像描画方法についてのヒントを与えます。</p>

{% highlight scss %}
@include image-rendering(optimizeSpeed);
{% endhighlight %}
</article>

