<article id="linear-gradient" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Linear-gradient</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_linear-gradient.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient">スペックを見る</a>
  </header>
  <p>グラデーションポジションはプションです。ポジションは角度で指定できます (<code>90deg</code>) 。ミックスインでは最大10ヶのカラーストップをサポートします。</p>
  <p>このミックスインは <code>background-color: #first-color;</code> の宣言をフォールバックとして出力します。<code>$fallback</code> 変数を渡すことで、フォールバックの色を変更できます。</p>

{% highlight scss %}
@include linear-gradient(#1e5799, #2989d8);
@include linear-gradient(to top, #8fdce5, #3dc3d1);
@include linear-gradient(to top, #8fdce5, #3dc3d1, $fallback: red);
@include linear-gradient(50deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
{% endhighlight %}

  <h3>デモ</h3>
  <section class="demo"></section>
</article>
