<article id="perspective" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Perspective</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_perspective.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/perspective">スペックを見る</a>
  </header>
  <p>CSS の <code>perspective</code> プロパティは、3D 配置された要素に遠近感を与えるため、z=0 平面とユーザとの間の距離を決めます。</p>
  <p>CSS の <code>perspective-origin</code> プロパティは、ユーザの見ている位置を決めます。これは <code>perspective</code> プロパティによって消失点として使われます。</p>

{% highlight scss %}
@include perspective(300px);
@include perspective-origin(30% 30%);
{% endhighlight %}


  <h3>デモ</h3>
  <section class="demo">
    <div class="example">
      <div class="front">1</div>
      <div class="back">2</div>
      <div class="right">3</div>
      <div class="left">4</div>
      <div class="top">5</div>
      <div class="bottom">6</div>
    </div>
  </section>
</article>

