<article id="radial-gradient" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Radial-gradient</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_radial-gradient.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient">スペックを見る</a>
  </header>
  <p>グラデーションを最大10ヶまで受け取ります。<a href="#background-image">background-image mixin</a> も参照してください。</p>
  <p>このミックスインはフォールバックとして <code>background-color: #first-color;</code> の宣言を出力します。 <code>$fallback</code> 変数を渡すことで、フォールバックの色を変更できます。</p>

{% highlight scss %}
@include radial-gradient(#1e5799, #3dc3d1);
@include radial-gradient(#1e5799, #3dc3d1, $fallback: red);
@include radial-gradient(circle at 50% 50%, #eee 10%, #1e5799 30%, #efefef);
{% endhighlight %}

  <h3>デモ</h3>
  <section class="demo">
  </section>
</article>
