<article id="selection" data-type="mixin">
    <header class="title-bar">
        <h2 class="title">Selection</h2>
        <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_selection.scss">ソースを見る</a>
        <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/::selection">スペックを見る</a>
    </header>
    <p>ベンダープレフィックス付きの selection セレクターをスタイル設定のために出力します。ベースレベルでも使用できます。</p>

{% highlight scss %}
@include selection {
  background-color: white;
}

p {
  @include selection {
    background-color: black;
    color: white;
  }
}
{% endhighlight %}
<h3>CSS出力</h3>
{% highlight scss %}
::selection {
  background-color: white;
}
::-moz-selection {
  background-color: white;
}

p::selection {
  background-color: black;
  color: white;
}
p::-moz-selection {
  background-color: black;
  color: white;
}
{% endhighlight %}
</article>
