<article id="selection" data-type="mixin">
  <header class="title-bar">
      <h2 class="title">Selection</h2>
        <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_selection.scss">ソースを見る</a>
        <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/::selection">スペックを見る</a>
  </header>
  <p>標準およびプレフィックス付きの <code>::selection</code> 疑似クラスを出力します。引数として <code>true</code> を渡すと、現在の要素を考慮します。</p>

{% highlight scss %}
@include selection {
  background-color: #ffbb52;
}

.element {
  @include selection(true) {
    background-color: #ffbb52;
  }
}
{% endhighlight %}

<h3>CSS出力</h3>

{% highlight css %}
::-moz-selection {
  background-color: #ffbb52;
}

::selection {
  background-color: #ffbb52;
}

.element::-moz-selection {
  background-color: #ffbb52;
}

.element::selection {
  background-color: #ffbb52;
}
{% endhighlight %}
</article>
