<article id="transform" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Transform</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_transform.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/transform">スペックを見る</a>
  </header>
  <p>transform CSS プロパティは CSS 視覚整形モデルの座標空間を変更できるようにします。これを用いると、指定の値に従って要素を移動、回転、スケーリング、傾斜させることができます。</p>
  <p>CSS の transform-origin プロパティは要素の変化の原点を変更します。</p>
  <p>CSS の transform-style プロパティは、要素の子要素が 3D 空間に配置されるのか、平らにされて要素の面上に配置されるのかを決めます。</p>

{% highlight scss %}
@include transform(translateY(50px));
@include transform(scale(0.9) rotate(-3deg));
@include transform-origin(center top);
@include transform-style(preserve-3d);
{% endhighlight %}
</article>
