<article id="user-select" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">User-select</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_user-select.scss">ソースを見る</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/user-select">スペックを見る</a>
  </header>
  <p>選択領域の見栄え(だけ)をコントロールします。これは実際の選択オペレーションには影響しません。</p>

{% highlight scss %}
@include user-select(none);
{% endhighlight %}
</article>
