<article id="global-prefixer" data-type="option">
  <header class="title-bar">
    <h2 class="title">Global Prefixer</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_prefixer.scss">ソースを見る</a>
  </header>
  <p>デフォルトでは、 Bourbon はそれぞれのミックスインに明記された全てのベンダープレフィックスを出力します。このグローバルなデフォルトは、あなたのスタイルシートの先頭で、各変数に <code>false</code> を設定することで上書きすることもできます。</p>

{% highlight scss %}
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     true;
$prefix-for-spec:      true;
{% endhighlight %}
</article>

