<article id="golden-ratio" data-type="function">
  <header class="title-bar">
    <h2 class="title">Golden Ratio</h2>
  </header>
  <p class="alert"><b>Deprecation 警告:</b> <code>golden-ratio</code> 関数は廃止予定となり、次のメジャーバージョンのリリースから削除されます。代わりに <a href="#modular-scale"><code>modular-scale</code></a> を使用してください。</p>
  <p>与えられた値の黄金比を返します。第1引数にピクセル値またはem値を与えてください(MUST)。また、 ...-3, -2, -1, 0, 1, 2, 3... のような増分の整数値を引数にとります(REQUIRED)。</p>
  <p>注: <code>golden-ratio</code> 関数は、Sassの <code>abs()</code> や <code>floor()</code> 、 <code>ceil()</code> の関数で包むことができ(CAN)、それぞれ、絶対値、切り捨て、切り上げを行います。</p>

{% highlight scss %}
// 正数は黄金比を加算する
font-size: golden-ratio(14px,  1);
// returns: 22.652px

// 負数は黄金比を減算する
font-size: golden-ratio(14px, -1);
// returns: 8.653px
{% endhighlight %}
  <p>資料: <a href="http://modularscale.com/">modularscale.com</a></p>
</article>
