<article id="linear-gradient-function"  data-type="function">
  <header class="title-bar">
    <h2 class="title">Linear-gradient</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_linear-gradient.scss">ソースを見る</a>
  </header>
  <p>linear-gradient を出力します。 <a href="#background-image">background-image ミックスイン</a>と合わせて使用してください。この関数は、 <a href="#linear-gradient">linear-gradient ミックスイン</a>と同じ引数をとります。</p>

{% highlight scss %}
@include background-image(linear-gradient(white 0, yellow 50%, transparent 50%));
{% endhighlight %}

  <h3>デモ</h3>
  <section class="demo">
  </section>
</article>
