<article id="px-to-em" data-type="function">
  <header class="title-bar">
    <h2 class="title">Pixels to Ems</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_px-to-em.scss">ソースを見る</a>
  </header>
  <p>ピクセル値を em 値に変換します。</p>
  <p>入力値は親の値をベースとして相対値が計算されます。デフォルトの親は <code>16px</code> です。<br>オプションの第2引数を与えることで、親を変更できます。サイズには単位なしやピクセル値も指定可能です。</p>
{% highlight scss %}
font-size: em(12);
font-size: em(12, 24);
{% endhighlight %}
  <h3>CSS出力</h3>
{% highlight scss %}
font-size: 0.75em;
font-size: 0.5em;
{% endhighlight %}
</article>
