<article id="px-to-rem" data-type="function">
  <header class="title-bar">
    <h2 class="title">Pixels to Rems</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_px-to-rem.scss">ソースを見る</a>
  </header>
  <p>ピクセル値を rem 値に変換します。</p>
  <p>これは 1rem を 16px と見なします。これは <code>$em-base</code> に新しいサイズを定義することでオーバーライドできます。</p>
{% highlight scss %}
font-size: rem(12);
{% endhighlight %}
  <h3>CSS出力</h3>
{% highlight scss %}
font-size: 0.75rem;
{% endhighlight %}
</article>
