<article id="radial-gradient-function" data-type="function">
  <header class="title-bar">
    <h2 class="title">Radial Gradient</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_radial-gradient.scss">ソースを見る</a>
  </header>
  <p><code>radial-gradient</code> を出力します。<a href="#background-image">background-image ミックスイン</a>と併用されます。この関数は <a href="#radial-gradient">radial-gradient ミックスイン</a>と同じ引数をとります。</p>

{% highlight scss %}
@include background-image(radial-gradient(#1e5799, #3dc3d1));
@include background-image(radial-gradient(50% 50%, circle cover, #1e5799, #3dc3d1));
@include background-image(radial-gradient(50% 50%, circle cover, #eee 10%, #1e5799 30%, #efefef));
{% endhighlight %}

  <h3>デモ</h3>
  <section class="demo">
  </section>
</article>
