<article id="strip-units" data-type="function">
  <header class="title-bar">
    <h2 class="title">Strip Units</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_strip-units.scss">ソースを見る</a>
  </header>
  <p>値から単位を取り除きます。これはヘルパーとして <a href="#px-to-em">Pixel to Ems</a> と <a href="#px-to-rem">Pixel to Rems</a> 関数内で使用されます。</p>

{% highlight scss %}
$dimension: strip-units(12px);
{% endhighlight %}

<h3>CSS出力</h3>
{% highlight scss %}
$dimension: 12;
{% endhighlight %}
</article>
