<article id="tint-shade" data-type="function">
  <header class="title-bar">
    <h2 class="title">Tint &amp; Shade</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_shade.scss" style="margin-left: 1em;">ソースを見る (Shade)</a>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_tint.scss">ソースを見る (Tint)</a>
  </header>
  <p>Tint と Shade は、 sass に組み込まれた <code>lighten()</code> と <code>darken()</code> とは異なります。</p>
  <p>Tint は、白とミックスした色です。Shade は、黒とミックスした色です。いずれも引数に色とパーセンテージをとります。</p>

{% highlight scss %}
background: tint(red, 40%);
background: shade(blue, 60%);
{% endhighlight %}

</article>
