<article id="unpack" data-type="function">
  <header class="title-bar">
    <h2 class="title">Unpack</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_unpack.scss">ソースを見る</a>
  </header>
  <p>この短縮記法は、1〜3値の寸法指定を4値のシンタックスに変換します。これは <a href="#position">position</a> ミックスイン内で使用されます。</p>

{% highlight scss %}
margin: unpack(1em 2em);
{% endhighlight %}

<h3>CSS出力</h3>
{% highlight scss %}
margin: 1em 2em 1em 2em;
{% endhighlight %}
</article>
